# Build
bin/
obj/

# Visual Studio
.vs/

# User files
*.user
*.suo

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg

# Logs
*.log

# Test results
TestResults/

# OS
Thumbs.db
.DS_Store

# Secrets
appsettings.Development.json
secrets.json